.grid-containerD {
    background-color: black;
    border: 500px white;
    top: 40vw;
    position: relative;
    color: white;
    display: grid;
    grid-template-columns: 5vw 90vw 5vw;
    grid-template-rows: 1fr max-content max-content max-content max-content max-content;
    gap: 0px 0px;
    grid-template-areas: ". TopD ." ". DescD ." ". LikeDets ." ". Streaming ." ". CastD . "". VidsD .";
}

.BackDrop {
    align-self: center;
    height: 56vw;
    position: absolute;
    left: 0vw;
    top: 15vw;
    opacity: 0.5;
}

.TopD {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: max-content 5vw max-content;
    gap: 0px 0px;
    grid-template-areas: "PosterD TitleD" "PosterD ReleaseD" "PosterD GenreD";
    grid-area: TopD;
    align-content: center;
}

.TitleD {
    font-weight: 700;
    grid-area: TitleD;
    font-size: 7vw;
    margin-top: auto;
    margin-bottom: auto;
    text-overflow: ellipsis;
}

.ReleaseD {
    grid-area: ReleaseD;
    font-size: 4vw;
}

.PosterD {
    grid-area: PosterD;
    height: 35vw;
    width: 30vw;
}

.Poster {
    position: relative;
    top: -20vw;
    left: 5vw;
    grid-area: PosterD;
    height: 50vw;
}

.GenreD {
    grid-area: GenreD;
    font-size: 3vw;
}

.DescD {
    grid-area: DescD;
    margin-bottom: 2vw;
}
.LikeDets{
    grid-area: LikeDets;
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    grid-template-rows: 20vw ;
    /* gap: 25vw 1vw; */
    grid-template-areas: ". LikeIcon SimilarLike Similar .";
}
.LikeIcon{
    grid-area: LikeIcon;
    padding: 0;
    background:transparent;
}
.LikeIconD{
    width: 20vw;
    height: 20vw;
    background-color: black;

}
.Similar{
    grid-area: Similar;
   display: flex;
   justify-content: center;
  align-items: center;
}
.SimilarLike{
    grid-area: SimilarLike;
    display: flex;
    justify-content: center;
   align-items: center;
}
.CastD {
    grid-area: CastD;
    display: grid;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: 15vw 15vw;
    gap: 25vw 1vw;
    grid-template-areas: ". ActorD ." ". CharacterD ." ". ActorPicD .";
}
.Streaming {
    grid-area: Streaming;
    margin-top: 1vw;
    margin-bottom: 5vw;
    
  }
.StreamingLink{
    font-size: 3vw;
    text-decoration: none;
    color: black;
    /* background-color: white;
    border: 10px solid white; */
}

  
.VidsD {
    border: 1px white;
    font-weight: 500;
    grid-area: VidsD;
    font-size: 5vw;
}

.Vid {
    margin-bottom: 5vw;
}

.ActorD {
    font-weight: 600;
    font-size: 3vw;
    grid-area: ActorD;
}

.CharacterD {
    grid-area: CharacterD;
    font-size: 2vw;
}

.ActorPicD {
    grid-area: ActorPicD;
    height: 30vw;
}
.StreamIcon{
    width: 40vw;
}
.SimilarLink{
    background: black;
    border: 3px solid white;
    text-decoration: none;
    color: white;
    padding: 5vw;
    font-size: 5vw;
}